.location-search
    position: relative
.location-search__searchbox
    background: transparent
    color: #ffffff
    border: none
    border-bottom: 2px solid #fff
    font-size: 1.5rem
.location-search__searchbutton
    background: transparent
    border: none
    transform: rotate(45deg) scale(1)
    transition: 0.2s transform ease-in-out
    img
        max-height: 40px
.location-search__searchbutton:active
    transform: rotate(45deg) scale(0.75)
.search-list
    position: absolute
    background: #535e90
    max-height: 300px
    overflow-y: auto
    transform: translateX(-50%)
    left: 50%
    z-index: 999
.search-list__result
    text-align: left