@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap');

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Baloo Bhaina 2', cursive;
}

code {
  font-family: 'Baloo Bhaina 2', cursive;
}

button:focus {outline:none;}